<html>
  <head>
    <link rel="stylesheet" href="/site.css" />
    <title><%=title%> - <%=siteTitle%></title>
  </head>
  <body>
    <h1><a href="/"><%=siteTitle%></a></h1>
    <%-''+body%>
  </body>

</html>
