body {
  max-width: 700px;
}
a {
  text-decoration: none;
}

li a, a.tag{

}

#logo {
  width: 110px;
  top: -8px;
  position: relative;
}

img {
  max-width: 90vw;
  max-height: 90vw;
}

#main img {
  max-height: 400px;
  max-width: 300px;
}

#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
